@import 'common';

@mixin button-active {
  border-color: $orange;
  background: $orange;
  color: $white;
}

@mixin button-basic {
  border-color: #DBDBDB;
  background: $white;
  color: $black;
}

.button-group {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

input[type=radio] {
  visibility: hidden;
  display: none;

  &:checked + .button {
    @include button-active();
  }
}

.button {
  border: 1px solid #DBDBDB;
  font-family: 'Segoe UI', 'Open Sans', sans-serif;
  font-size: 17px;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 4px;
  box-shadow: $shadow-small;
  width: 100%;
  height: 48px;
  line-height: 46px;
  position: relative;
  text-align: center;

  &:not(.radio) {
    text-align: left;
  }

  .label {
    position: absolute;
    text-align: center;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;

    .icon-loading::before {
      animation: $rotate;
    }
  }

  &:not(.radio) {
    &:not(.primary), &.primary:active {
      @include button-basic();
    }

    &.primary, &:active:not(.primary) {
      @include button-active();
    }
  }

  .icon {
    bottom: 2px;
    position: relative;
  }
}