@import 'common';

.compare-card {
  padding: 5px;
  .compare-card-header {
    margin-bottom: 26px;

    h2 {
      font-size: 14px;
      height: 48px;
    }
  }

  .stats-list {
    display: grid;
    row-gap: 14px;
  }

  .icon-container {
    text-align: center;
  }
}