@import "common";

.record-cards {
  display: grid;
  grid-template-columns: calc(50% - 5px) calc(50% - 5px);
  grid-gap: 10px;

  .card .icon {
    line-height: 10px;
  }
}

.activity-cards {
  display: grid;
  row-gap: 10px;
  margin-bottom: 85px;

  date {
    top: -7px;
    position: relative;
  }

  .activity-icon-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
}

.date-inputs {
  display: grid;
  grid-template-columns: 1fr 1fr 48px;
  column-gap: 10px;

  input {
    font-size: 0.9em !important;
  }

  .button {
    padding: 2px;
  }
}
