@import "common";

.profile-picture {
  border-radius: 50%;
  border: 1px solid $gray;
  overflow: hidden;

  &:not(.large) {
    width: 48px;
    height: 48px;
  }
  &.large {
    width: 116px;
    height: 116px;
  }
}